<h2 name= "playername">Player 1: <%= @player_name %></h2>
<div class="board">
  <h2>your board</h2>
  <pre><%= @board %></pre>
</div>


<form action="/game" method="post">
  <select name="fleet">
    <option selected="selected" value="destroyer">destroyer</option>
    <option value="submarine">submarine</option>
    <option value="cruiser">cruiser</option>
    <option value="battleship">battleship</option>
    <option value="aircraft_carrier">aircaft carrier</option>
  </select>
  choose ship<br />
  <input type="text" name="coordinate"> enter coordinate<br />
  <input type="radio" name="direction" value="horizontally">horizontal
  <input type="radio" name="direction" value="vertically">vertical<br />
  <input type="submit" value="Submit">
</form>